name: Rust Tests

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:
    inputs:
      tidehunter_repo_ref:
        description: "Branch / commit to test"
        type: string
        required: false
        default: ""

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          ref: ${{ github.event.inputs.tidehunter_repo_ref || github.ref }}

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfontconfig1-dev clang pkg-config

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7 # stable

      - name: Install rustfmt and clippy
        run: |
          rustup component add rustfmt
          rustup component add clippy

      - name: Check formatting
        run: cargo fmt --check

      - name: Check linting
        run: cargo clippy -- -D warnings

      - name: Build
        run: cargo build

      - name: Check Cargo.lock
        run:  git status | grep modified || exit 0 && (echo "Some files are not committed"; exit 1)

      - name: Run unit tests
        run: cargo test
